<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quan Li Du Lieu</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <!-- Menu trên cùng -->
    <div class="top-menu">
        <ul>
            <li><a href="/index">User</a></li>
            <li><a href="#location">Location</a></li>
            <li><a href="#employee">Employee</a></li>
            <li><a href="/product">Product</a></li>
            <li><a href="#order">Order</a></li>
        </ul>
    </div>
     <div class="dashboard-container">
            <h1>DashBoard 17 Shop</h1>
            <h3>&copy; Group 17 </h3>
     </div>
</body>
</html>
