<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quan Li Du Lieu</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Menu trên cùng -->
    <div class="top-menu">
        <ul>
            <li><a href="#user">User</a></li>
            <li><a href="#location">Location</a></li>
            <li><a href="#employee">Employee</a></li>
            <li><a href="#product">Product</a></li>
            <li><a href="#order">Order</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="header">
            <h1>Contacts</h1>
            <div class="actions">
                <button>Create </button>
            </div>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>CITY</th>
                        <th>PASSWORD</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fas fa-user-circle"></i> Brian Halligan (Sample)</td>
                        <td>bh@hubspot.com</td>
                        <td>Lead</td>
                        <td>No owner</td>
                        <td>
                            <button class="edit-button">edit</button>
                            <button class="delete-button">delete</button>
                        </td></td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>
</html>
